@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.timer__section{
    width: 100vw;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #C9E4CA;
    padding: 50px 10px 50px 10px;
}

.clock{
    position:relative;
    width: 100%;
    font-size: 90px;
    font-weight: 600;
    color: #55828B;
}

.clock span{
    display:inline-block;
}

.clock__minutes{
    position:absolute;
    top: 0;
    left:calc(50% - 125px);
    text-align:right;
}

.clock__seconds{
    position:absolute;
    top: 0;
    left:calc(50% + 15px);
    text-align:left;
}

.clock__dots{
    position:relative;
    top: 0;
    left:calc(50% - 12px);
}

.settings__items-inputs{
    display:flex;
    flex-direction:column;
    width: 100%;
}

.settings__items-inputs h3, p{
    color: #55828B;
}

.timer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 340px;
    height: 250px;
}

.tabsAndTimers{
    display:flex;
    justify-content:center;
    width:440px;
    padding:20px 0;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}

.activeTab{
    background-color: rgba( 0, 0 , 0, 0.2);
    outline: none;
}

.tabList{
    display:flex;
    justify-content: center;
}

.tabItem{
    list-style: none;
    padding: 1px 8px;
    border-radius: 5px;
}

.tasks__title{
    display: inline-block;
    margin: 15px 0 0 0;
    font-size: 18px;
    color:#2a5158;
}

.task{
    display:flex;
    align-items:flex-start;
    justify-content: space-between;
    background-color:#55828B;
    border-radius: 10px;
    padding:8px 12px;
    margin: 10px 0;
}

.task__label{
    cursor: pointer;
    display:flex;
}
.task input{
    margin-top:8px;
    display:none;
}
.task__text{
    margin-left:10px;
    max-width: 350px;
}
.task__title{
    color:white;
}
.task__note{
    color:white;
}
.task__image{
    cursor: pointer;
    width:25px;
    padding:5px 0 5px 5px;
}

.editor{
    display:none;
}

.editor__block{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    background-color: #fff;
    padding:10px 10px 0px 10px;
    border-radius: 10px;
    height:140px;
    margin-bottom: 10px;
}

.editor__buttons-block{
    display:flex;
    justify-content:space-between;
    margin-top: 5px;
}
.editor__buttons-block div{
    display:flex;
    width:35%;
    justify-content:space-between;
}

.activeEditor{
    display:block !important;
}

.information__section{
    padding: 50px 100px;
}

.information__section h2 {
    display: inline-block;
    color: #2A5158;
    margin-bottom: 20px;
}

.information__title{
    display:inline-block;
    position:relative;
    color: #2A5158;
    margin: 10px 0;   
}

.information__title::before{
    content: "";
    display:inline-block;
    position: absolute;
    top: 4px;
    left:-10px;
    width: 4px;
    height: 20px;
    border-radius: 2px;
    background-color: #C9E4CA;
}

.information__section li{
    color:#7B828B;
    list-style: none;
    position:relative;
    top:0;
    left: 12px;
}

.information__section li::before{
    content: "";
    display:inline-block;
    position: absolute;
    top: 9px;
    left:-17px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #C9E4CA;
}

