@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

#root{
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #C9E4CA;
}

.clock{
    font-size: 90px;
    font-weight: 600;
    color: #55828B;
}

.clock span{
    display:inline-block;
    width:115px;
}

.clock__minutes{
    text-align:right;
}

.clock__seconds{
    text-align:left;
}

.settings__items-inputs{
    display:flex;
    flex-direction:column;
    width: 100%;
}

.settings__items-inputs h3, p{
    color: #55828B;
}

.timer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 340px;
    height: 250px;
}

.tabsAndTimers{
    display:flex;
    justify-content:center;
    width:440px;
    padding:20px 0;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}

.activeTab{
    background-color: rgba( 0, 0 , 0, 0.2);
    outline: none;
}

.tabList{
    display:flex;
    justify-content: center;
}

.tabItem{
    list-style: none;
    padding: 1px 8px;
    border-radius: 5px;
}

.task{
    display:flex;
    align-items:flex-start;
    background-color:#55828B;
    border-radius: 10px;
}
.task input{
    margin-top:8px;
    width:15px;
}
.task__text{
    margin-left:10px;
}
.task__title{
    color:white;
}
.task__note{
    color:white;
}
