.myButton{
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    color: #f3f8f4;
    border: 0px solid;
    border-radius: 5px;
    background-color: #55828B;
    padding:5px 10px;
    margin-bottom:10px;
    transition: 0.1s;
}
.myButton:hover{
    transform: scale(1.05);
    transition: 0.2s;
}